.counter {
    margin-bottom: 50px;
    background-color: $aqua;

    &__list {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        margin:auto;
    }

    &__item {
        text-align: center;
        border-bottom: 1px solid $whitergba;
        background-color: $aqua;
        
    }
}

.counter-item {
    padding-top: 30px;
    padding-bottom: 30px;
    

    &__quant,
    &__text {
       font-family: $main-ff;
       color: $white;
       text-transform: uppercase;
    }

    &__quant {
        font-size: 46px;
        font-weight: 700;
        
    }
    
    &__text {
        font-size: 13px;
        font-weight: 400;
        padding-top: 10px;
    }
    
}



@media screen and (min-width: 760px) {
    .counter {
        background-color: $white;/*не получается переписать фоновый цвет планшетной версии*/

        &__list {
            flex-direction: row; 
            flex-wrap: wrap;
            max-width: 720px;
            width: 100%;
            
        }

        &__item {
            max-width: 233px;
            width: 100%;
            border-left: 1px solid $whitergba;
            border-right: 1px solid $whitergba;   
            
            padding-top: 25px;
            padding-bottom: 30px;
        }

        
    }
}

@media screen and (min-width: 1000px) {
    .counter {
        background-color: $aqua;
        
        &__list {
            flex-direction: row; 
            flex-wrap: nowrap;
            max-width: 1200px;
            width: 100%;
            background-color: $aqua;
        }

    }
}